body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  /* max-width: 38rem; */
  padding: 2rem;
  background-color: #5d5c61;
  color: #b1a296;
}

button {
  width: calc(50% - 2em);
  height: 300px;
  border: 0;
  border-radius: 1em;
  margin: 1em;
  font-size: xx-large;
  font-weight: bolder;
}

#droparea {
  width: 100%;
  height: 300px;
  background-color: darkgray;
  display: none;
  border: 0;
  border-radius: 1em;
  text-align: center;
  vertical-align: middle;
  line-height: 300px; 
  color: #5d5c61;
}